<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cilly-Learn how to code in C++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4F246061D366C4C00CC85CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4F2461A1D366C4D00CC85CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4F246251D366C4D00CC85CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
